@import url("https://fonts.cdnfonts.com/css/righteous");
@import url("https://fonts.cdnfonts.com/css/montserrat");

body {
  margin: 0px auto;
  background-color: aliceblue;
  max-width: 600px;
  padding: 24px 12px;
  width: 100% - 24px;
  font-family: "Montserrat", sans-serif;
  height: auto;
  min-width: 350px;
}

#root {
  padding-bottom: 12px;
}

#root * * {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: 0.3s;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8);
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}

/* #root {
  min-height: 90vh;
} */

.bgVideo {
  object-fit: cover;
  position: fixed;
  z-index: -10;
  margin: -24px;
  min-height: 100vh;
  max-width: 648px;
}

.hero,
.form,
.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: brightness(130%) blur(4px);
  border-radius: 12px;
  padding: 24px 12px;
  margin-bottom: 24px;
}

.form {
  flex-direction: column;
}

.heroData {
  display: flex;

  flex-direction: row;
  padding: 0px 48px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  /* background-color: rgba(255, 255, 255, 0.8);
  border-radius: 99px; */
}
.heroData h1,
.heroData h2 {
  font-size: 3.5em;
  margin-block-end: unset;
  margin-block-start: 12px;
  color: rgb(48, 48, 48);
  font-family: "Righteous", sans-serif;
}

.heroData h1 {
  text-shadow: rgb(105, 105, 105) 2px 2px 12px;
  font-size: 4.5em;
}

.hero p {
  font-size: 1.3em;
  text-align: center;
  margin: 24px;
  margin-block-end: unset;
  margin-block-start: 12px;
  font-weight: 600;
}
.nothingHere {
  width: 100%;
}
.list {
  flex-direction: column;
}

/*Custom Toggle on profile*/
label.mytoggle {
  display: block;
  width: 55px;
  height: 27px;
  border: 3px solid rgb(221, 221, 221);
  border-bottom: 5px solid rgb(221, 221, 221);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.12);
}

label.mytoggle:before {
  content: "☀️";
  text-align: center;
  font-size: 1.5em;
  position: relative;
  display: block;
  width: 30px;
  height: 21px;
  background: rgb(197, 197, 197);
  border-radius: 50px;
  border-bottom: 8px solid rgb(197, 197, 197);
  /* border: 2px solid white; */
}

input.mytoggle {
  display: none;
}

input.mytoggle:checked + label.mytoggle::before {
  position: relative;
  left: 47%;
  background: rgb(255, 255, 255);
  border-bottom: 8px solid white;
}

input.mytoggle:checked + label.mytoggle {
  background: rgb(234, 219, 121);
  border: 3px solid white;
  border-bottom: 5px solid rgb(255, 255, 255);
}

.form h2 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  padding-bottom: 12px;
}
.form .formElement {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 420px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: baseline;
    gap: 8px;
  }
}

.formElement input {
  height: 32px;
  border-radius: 4px;
  border: 1px solid rgba(225, 225, 225, 0.5);
  padding-left: 18px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.12);
  font-size: 1.15em;
  min-width: 300px;
}

.formElementWrapper {
  padding-right: 12px;
  min-width: 300px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 12px;
}

.form button {
  border-top: 1px solid black;
  margin-top: 24px;
  min-width: 150px;
  min-height: 36px;
  border-radius: 99px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.12);
  font-size: 1.15em;
  font-weight: 500;
}

#hintText {
  position: fixed;
  margin: 0px auto;
  top: 10%;
  width: 100px;
  height: 150px;
  border-radius: 99px;
  height: 10%;
  background-color: white;
  display: block;
}

#hintText.visible {
  display: block;
}

.list h3 {
  margin-block-end: 24px;
  margin-block-start: 0px;
  font-size: 1.1em;
  font-weight: 500;
}

.list ul {
  padding-inline-start: unset;
  margin: 0px auto;
  margin-inline-end: unset;
  margin-inline-start: unset;
}

.list li {
  width: 80%;
  min-width: 270px;
  background-color: rgba(255, 255, 255, 0.9);
  list-style-type: none;
  padding: 24px;
  margin-bottom: 12px;
  border-radius: 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

li h4 {
  margin-block-end: unset;
  margin-block-start: unset;
  max-width: 85%;
}

li button {
  border-radius: 99px;
  width: 28px;
  height: 28px;
  font-size: 1.1em;
  background-color: transparent;
}

li button:hover {
  background-color: rgb(193, 55, 55);
  cursor: pointer;
  color: white;
  border: white;
}

li {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.12);
}

li:hover {
  box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.18);
}
